{% extends "base.html" %}

{% load static wagtailcore_tags demo_tags %}
{% get_site_root as site_root %}

{% block content %}
      {% header self=self %}


      <!--==========================
        Code of Conduct Section
      ============================-->
      <section id="about" class="section-bg">
        <div class="container-fluid">
          <div class="section-header">
            <h3 class="section-title">Code of Conduct</h3>
            <span class="section-divider"></span>
            <div class="wow fadeInRight container text-left">
              <p>
                Tech By Choice is dedicated to providing a harassment-free experience for everyone. We do not tolerate
                harassment of participants in any form.
              </p>
              <p>
                This code of conduct applies to all Tech By Choice spaces, including our mailing list, Slack channels,
                and Meetup pages, both online and off. Anyone who violates this code of conduct may be sanctioned or
                expelled from these spaces at the discretion of our leadership team.
              </p>
              <p>
                Some Tech By Choice spaces may have additional rules in place, which will be made clearly available to
                participants. Participants are responsible for knowing and abiding by these rules.
              </p>

              <h2>Harassment includes:</h2>
              <ul>
                <li>Offensive comments related to gender, gender identity and expression, sexual orientation, disability,
                  mental illness, neuro(a)typicality, physical appearance, body size, age, race, or religion.</li>
                <li>Unwelcome comments regarding a person’s lifestyle choices and practices, including those related to
                  food, health, parenting, drugs, and employment.</li>
                <li>Deliberate misgendering or use of ‘dead’ or rejected names.</li>
                <li>Gratuitous or off-topic sexual images or behavior in spaces where they’re not appropriate.</li>
                <li>Physical contact and simulated physical contact (eg, textual descriptions like “*hug*” or “*backrub*”)
                  without consent or after a request to stop.</li>
                <li>Threats of violence.</li>
                <li>Incitement of violence towards any individual, including encouraging a person to commit suicide or to
                  engage in self-harm.</li>
                <li>Deliberate intimidation.</li>
                <li>Stalking or following.</li>
                <li>Harassing photography or recording, including logging online activity for harassment purposes.</li>
                <li>Sustained disruption of discussion.</li>
                <li>Unwelcome sexual attention.</li>
                <li>A pattern of inappropriate social contact, such as requesting/assuming inappropriate levels of
                  intimacy with others.</li>
                <li>Continued one-on-one communication after requests to cease.</li>
                <li>Deliberate “outing” of any aspect of a person’s identity without their consent except as necessary to
                  protect vulnerable people from intentional abuse.</li>
                <li>Publication of non-harassing private communication.</li>
              </ul>

              <p>Tech By Choice prioritizes marginalized people’s safety over privileged people’s comfort. Our leadership
                team reserves the right not to act on complaints regarding:</p>

              <ul>
                <li>‘Reverse’ -isms, including ‘reverse racism,’ ‘reverse sexism,’ and ‘cisphobia’.</li>
                <li>Reasonable communication of boundaries, such as “leave me alone,” “go away,” or “I’m not discussing
                  this with you”.</li>
                <li>Communicating in a ‘tone’ you don’t find congenial.</li>
                <li>Criticizing racist, sexist, cissexist, or otherwise oppressive behavior or assumptions.</li>
              </ul>

              <h3>Reporting</h3>

              <p>If you are being harassed by a member of Tech By Choice, notice that someone else is being harassed,
                or have any other concerns, please contact the leadership team at
                <a href="mailto:support@techbychoice.org">support@techbychoice.org</a>. <b>If the person who is harassing
                  you is on the team, they will recuse themselves from handling your incident. We will respond as promptly
                  as we can.</b></p>

              <p>This code of conduct applies to Tech By Choice spaces, but if you are being harassed by a member of Tech
                By Choice outside our spaces, we still want to know about it. We will take all good faith reports of
                harassment by Tech By Choice members, especially our leadership team, seriously. This includes harassment
                outside our spaces and harassment that took place at any point in time. The abuse team reserves the right
                to exclude people from Tech By Choice based on their past behavior, including behavior outside Tech By
                Choice spaces and behavior towards people who are not in Tech By Choice.</p>

              <p>In order to protect volunteers from abuse and burnout, we reserve the right to reject any report we
                believe to have been made in bad faith. Reports intended to silence legitimate criticism may be deleted
                without response.</p>

              <p>We will respect confidentiality requests for the purpose of protecting victims of abuse. At our
                discretion, we may publicly name a person about whom we’ve received harassment complaints, or privately
                warn third parties about them, if we believe that doing so will increase the safety of Tech By Choice
                members or the general public. We will not name harassment victims without their affirmative consent.</p>

                <p>Adapted from <a href="http://geekfeminism.wikia.com/wiki/Community_anti-harassment/Policy" target="_blank">Geek Feminism's Community anti-harassment/Policy template</a></p>

            </div>
          </div>

        </div>
      </section><!-- #about -->

      <!--==========================
        Contact Section
      ============================-->
      <section id="contact">
        <div class="container">
          <div class="row wow fadeInUp">

            <div class="col-lg-4 col-md-4">
              <div class="contact-about">
                <h3 class="text-dark brand-name">Tech By Choice</h3>
                <h4 class="intro--tag-line tag-line"><span class="text--green">Di</span><span class="text--blue">v</span><span class="text--purple">er</span><span class="text--red">s</span><span class="text--yellow">e</span><span class="text-dark"> By Design</span></h4>
                <p>Have any questions or looking for way to help support our mission? Feel free to contact us any time through any of our social media accounts below, or via email. </p>
                <p>Hope to hear from you soon!</p>
                <div class="social-links">
                  <a target="_blank" href="https://twitter.com/_techbychoice" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" href="https://www.facebook.com/TechByChoiceDiverseByDesign" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" href="https://www.linkedin.com/company/tech-by-choice-org/about/" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  <a href="mailto:hello@techbychoice.org" class="email"><i class="fa fa-envelope"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="info">
                <div>
                  <h4 class="section-title text-lg-center text-sm-left">CONTACT US</h4>
                </div>

              </div>
            </div>

            <div class="col-lg-5 col-md-8">
              <div class="form">
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <form role="form" class="contactForm">
                  <div class="form-row">
                    <div class="form-group col-lg-6">
                      <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                      <div class="validation"></div>
                    </div>
                    <div class="form-group col-lg-6">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validation"></div>
                  </div>
                  <label style="display:none"></label>
                  <input type="text" name="__bucket_trap__" style="display: none" />
                  <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                    <div class="validation"></div>
                  </div>
                  <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
                </form>
              </div>
            </div>

          </div>

        </div>
      </section><!-- #contact -->

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 text-lg-left text-center">
            <div class="copyright">
              &copy; Copyright <strong>Tech By Choice. Diverse By Design</strong>. All Rights Reserved
            </div>
          </div>
          <div class="col-lg-6">
            <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
              <a href="#intro" class="scrollto">Home</a>
              <a href="#about" class="scrollto">About</a>
              <a href="/coc">Code of Conduct</a>
              <a href="/diversity-statement">Diversity Statement</a>
              <!--<a href="/co">Privacy Policy</a>-->
              <!--<a href="#">Terms of Use</a>-->
            </nav>
          </div>
        </div>
      </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


{% endblock %}
