{% load i18n compress static wagtailcore_tags demo_tags %}
{% get_site_root as site_root %}

{% header self=self %}

<!--==========================
  Intro Section
============================-->
<section id="intro">

  <div class="intro-text">
    <h2 class="into--title">Tech By Choice</h2>
    <h3 class="intro--tag-line"><span class="text--green">Di</span><span class="text--blue">v</span><span class="text--purple">er</span><span class="text--red">se</span><span class="text--yellow"></span> <span class="text-white">By Design</span></h3>
    <a href="#call-to-action" class="btn-get-started btn-primary scrollto">Join Now</a>
    <div class="down-arrow text-white">Scroll to learn more <br><i class="bounce  fa fa-chevron-down text-white"></i></div>
  </div>
</section><!-- #intro -->

<main id="main">

  <!--==========================
    About Us Section
  ============================-->
  <section id="about" class="about section-bg">
    <div class="container-fluid">
      <div class="section-header">
        <h3 class="section-title">About Us</h3>
        <span class="section-divider"></span>
        <p class="section-description">
          We are a community aimed to increase diversity in the tech industry one technologist at a time.<br>
          <!-- add more content as needed-->
          We offer low to no-cost events, workshops, and classes to help support individuals in protected groups
          enter and stay in the tech industry.
        </p>
      </div>
      <div class="row">
        <div class="col-lg-6 about-img wow fadeInLeft">
          <img src="{% static 'imgs/adult-conference-room-cooperation-1181618.jpg' %}" alt="">
        </div>
        <div class="col-lg-6 content wow fadeInRight">
          <h2>Our Mission</h2>
          <p>Increase the diversity of the Science Engineering Art and Math (STEAM) industries by offering low to no-cost
            skill-building events, workshops, and classes to adults in protected groups to ensure individuals know they
            can enter, stay, and thrive in STEAM.</p>
          <h2>Our Vision</h2>
          <p>
            Increase the wealth with quality of life of protected groups by creating a space to learn the technical and
            nontechnical skills required for roles in the tech industry.
          </p>
        </div>
      </div>
    </div>

  </section><!-- #about -->

  <!--==========================
    Our Team Section
  ============================-->
  <section id="team" class="section-bg">
    <div class="container">
      <div class="section-header">
        <h3 class="section-title">Our Team</h3>
        <span class="section-divider"></span>
      </div>
      <div class="row wow fadeInUp">
        <div class="col-lg-4 col-md-12">
          <div class="member">
            <div class="pic img-fluid"><img src="{% static 'imgs/leadership_valerie.jpg' %}" alt="Image of Valerie"></div>
            <h4>Valerie Phoenix</h4>
            <span>Executive Director</span>
            <div class="social">
              <a target="_blank" href="https://linkedin.com/in/valerie--sharp"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12">
          <div class="member">
            <div class="pic img-fluid"><img src="{% static 'imgs/leadership_ebony.jpg' %}" alt="Image of Ebony Smith"></div>
            <h4>Ebony Smith</h4>
            <span>Chief Operating Officer</span>
            <div class="social">
              <a target="_blank" href="https://www.linkedin.com/in/ebonynicholesmith/"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12">
          <div class="member">
            <div class="pic img-fluid"><img src="{% static 'imgs/leadership_tracie.jpeg' %}" alt=""></div>
            <h4>Tracie Howard Womack</h4>
            <span>Director of Partnership</span>
            <div class="social">
              <a target="_blank" href="https://www.linkedin.com/in/tracie-womack-6079b713/"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #team -->

  <!--==========================
    Values Section
  ============================-->
  <section id="values">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-header wow fadeIn" data-wow-duration="1s">
            <h3 class="section-title">Our Values</h3>
            <span class="section-divider"></span>
          </div>
        </div>
        <div class="col-lg-12 ">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 box wow fadeInRight">
              <div class="icon"><img class="ion-ios-speedometer-outline" src="{% static 'imgs/icon-diversity.svg' %}"></div>
              <h4 class="title"><a href="">Diversity</a></h4>
              <p class="description">Diversity is key to having a well rounded outlook on any problem you may face. The more diverse a team is, is the more life experiences and viewpoints you will be privy to.</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 box wow fadeInRight" data-wow-delay="0.1s">
              <div class="icon"><img class="ion-ios-flask-outline" src="{% static 'imgs/icon-empathy.svg' %}"></div>
              <h4 class="title"><a href="">Empathy</a></h4>
              <p class="description">We ask our members to come to us as they are, so we must remember to be open to meet them where they are.</p>
            </div>
            <div class="text-center col-lg-4 col-md-12 col-sm-12 box wow fadeInRight" data-wow-delay="0.3s">
              <div class="icon"><img class="ion-ios-flask-outline" src="{% static 'imgs/icon-integrity.svg' %}"></div>
              <h4 class="title"><a href="">Integrity</a></h4>
              <p class="description">In order to keep our space a safe space, we have to make sure all of our decisions are directly inline with our mission and overall vision for our members' safety.</p>
            </div>
            <div class="row offset-lg-1">
            <div class="text-center col-lg-6 col-lg-offset-4 col-md-6 col-sm-12box wow fadeInRight" data-wow-delay="0.3s">
              <div class="icon"><img class="ion-ios-flask-outline" src="{% static 'imgs/icon-teach.svg' %}"></div>
              <h4 class="title"><a href="">Teach</a></h4>
              <p class="description">Acquiring knowledge is important, but sharing knowledge is how we grow as a group.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><img class="ion-ios-flask-outline" src="{% static 'imgs/icon-intentional.svg' %}"></div>
              <h4 class="title"><a href="">Intentional</a></h4>
              <p class="description">To excel for our members, we must remember to put them first.</p>
            </div>
          </div>
            </div>
        </div>
      </div>
    </div>
  </section><!-- #features -->

  <!--==========================
    Call To Action Section
  ============================-->
  <section id="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-left text-black">
          <h3 class="cta-title">Become A Member</h3>
        </div>
      </div>
      <div class="row">
        <div class="card-deck">
          <div class="card bg-black text-white">
              <div class="card-body">
                  <h5 class="card-title">Join Our Newsletter</h5>
                  <p class="card-text">The TBC (Tech By Choice) newsletter is a monthly email we send out to share resources, tips, tricks, and funny memes with other people across our community.</p>
              </div>
              <div class="card-footer  text-center">
                  <a target="_blank" href="https://bit.ly/TBC-Newsletter" class="card-link btn float-left btn-block btn-primary">Join Our Newsletter</a>
              </div>
          </div>
          <div class="card bg-black text-white">
              <div class="card-body">
                  <h5 class="card-title">Events</h5>
                  <p class="card-text">Join us for classes, workshops, and other fun digital events through our events website</p>
              </div>
              <div class="card-footer row">
                  <div class="col-sm-12 mt-4">
                      <a target="_blank" href="https://www.tbcevents.org/" class="mt-4 mt-md-0 mt-lg-0 card-link btn btn-primary btn-block">View Events</a>
                  </div>
              </div>
          </div>
          <div class="card bg-black text-white">
              <div class="card-body">
                  <h5 class="card-title">Become A Member</h5>
                  <p class="card-text">Join Tech By Choice community today! We’re always accepting applications for members, teachers, classroom TAs, and volunteers. You'll get access to our Slack, job openings from our partners, and access to our classes.</p>
              </div>
              <div class="card-footer row">
                  <a target="_blank" href="https://airtable.com/shrufdMPXf29LaaEE" class="card-link btn float-left btn-block btn-primary">Apply Today</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- #call-to-action -->

  <!--==========================
    Contribution Section
  ============================-->
  <section id="contribute" class="about section-pink">
    <div class="container-fluid">
      <div class="section-header">
        <h3 class="section-title">Contribute to TBC</h3>
        <span class="section-divider"></span>
        <p class="section-description">
          Join us and help us build the tech behind Tech By Choice!
        </p>
      </div>
      <div class="row">
        <div class="col-lg-6 about-img wow fadeInLeft">
          <img src="{% static 'imgs/TBC_together.png' %}" alt="">
        </div>
        <div class="col-lg-6 content wow fadeInRight">
          <h2>We need help with:</h2>
          <ul>
            <li>Website development</li>
            <li>Workshop/Class material development</li>
            <li>Product Design and Strategy</li>
            <li>Graphic Art for TBC swag and for our website</li>
          </ul>

          <h2>Learn more <a href="/contribute">here</a></h2>
        </div>
      </div>
    </div>
  </section><!-- #about -->

  <!--==========================
    Contact Section
  ============================-->
  <section id="contact">
    <div class="container">
      <div class="row wow fadeInUp">

        <div class="col-lg-4 col-md-4">
          <div class="contact-about">
            <h3 class="text-dark brand-name">Tech By Choice</h3>
            <h4 class="intro--tag-line tag-line"><span class="text--green">Di</span><span class="text--blue">v</span><span class="text--purple">er</span><span class="text--red">s</span><span class="text--yellow">e</span><span class="text-dark"> By Design</span></h4>
            <p>Have any questions or looking for way to help support our mission? Feel free to contact us any time through any of our social media accounts below, or via email. </p>
            <p>Hope to hear from you soon!</p>
            <div class="social-links">
              <a target="_blank" href="https://twitter.com/TechByChoiceOrg" class="twitter"><i class="fa fa-twitter"></i></a>
              <a target="_blank" href="https://www.facebook.com/TechByChoiceOrg/" class="facebook"><i class="fa fa-facebook"></i></a>
              <a target="_blank" href="https://www.linkedin.com/company/tech-by-choice-org/about/" class="linkedin"><i class="fa fa-linkedin"></i></a>
              <a target="_blank" href="https://www.youtube.com/channel/UCIGG1X---Ky9UVSKyciad9Q" class="youtube"><i class="fa fa-youtube"></i></a>
              <a target="_blank" href="https://www.instagram.com/techbychoiceorg/" class="youtube"><i class="fa fa-instagram"></i></a>
              <a href="mailto:hello@techbychoice.org" class="email"><i class="fa fa-envelope"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="info">
            <div>
              <h4 class="section-title text-lg-center text-sm-left">CONTACT US</h4>
            </div>

          </div>
        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form role="form" class="contactForm">
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-lg-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <label style="display:none"></label>
              <input type="text" name="__bucket_trap__" style="display: none" />
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #contact -->

  {% footer self=self %}
</main>
