{% load i18n compress static wagtailcore_tags %}
<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <!-- Uncomment below if you prefer to use an image logo -->
       <a href="#intro"><img src="{% static 'imgs/logo.png' %}" alt="" title=""></a>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="#intro">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#values">Values</a></li>
        <li><a href="#call-to-action">Membership</a></li>
        <li><a href="#team">Team</a></li>

        <!--<li><a href="#sponsors">Sponsors</a></li>-->
        <!-- TODO: make templates for Code of Conduct and diversity Statement -->
        <li class="menu-has-children"><a href="">Our Statements</a>
          <ul>
            <li><a href="/coc">Code of Conduct</a></li>
            <li><a href="/diversity-statement">Diversity Statement</a></li>
          </ul>
        </li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
