{% load compress static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        {# Favicons #}
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'imgs/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'imgs/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'imgs/favicon-16x16.png' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">

        {# Search Engine #}
        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% else %}A community aimed to increase diversity in the tech industry one technologist at a time.{% endif %}">
        <meta name="image" content="https://tech-by-choice-assets.s3.us-east-2.amazonaws.com/images/TBC_twitter.jpg">
        <!-- Schema.org for Google -->
        <meta itemprop="name" content="Tech By Choice. Diverse By Design.">
        <meta itemprop="description" content="A community aimed to increase diversity in the tech one technologist at a time.">
        <meta itemprop="image" content="https://tech-by-choice-assets.s3.us-east-2.amazonaws.com/images/TBC_twitter.jpg">

        <!-- Facebook -->
        <meta property="og:site_name" content="Tech By Choice. Diverse By Design."/>
        <meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}"/>
        <!-- <meta property="og:url" content="{% if self.full_url %}{{ self.full_url }}{% endif %}"/> -->
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://tech-by-choice-assets.s3.us-east-2.amazonaws.com/images/TBC_twitter.jpg"/>

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@_techbychoice">
        <meta name="twitter:title" content="Tech By Choice. Diverse By Design.">
        <meta name="twitter:description" content="{% if self.search_description %}{{ self.search_description }}{% else %}A community aimed to increase diversity in the tech industry one technologist at a time.{% endif %}">
        <meta name="twitter:image" content="https://tech-by-choice-assets.s3.us-east-2.amazonaws.com/images/TBC_twitter.jpg">
        <meta name="twitter:image:alt" content="Tech By Choice Logo">


        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132510618-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-132510618-1');
        </script>


        {# Global stylesheets #}
        <!-- Bootstrap CSS File -->
        <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

        <!-- Main Stylesheet File -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/tbc_site.css' %}">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/tbc-branding.css' %}" rel="stylesheet">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>

        {# Global javascript #}
        {% compress js %}
          <script type="text/javascript" src="{% static 'js/tbc_site.js' %}"></script>
          <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
          <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
          <script src="{% static 'lib/easing/easing.min.js' %}"></script>
          <script src="{% static 'lib/wow/wow.min.js' %}"></script>
          <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
          <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
          <script src="{% static 'lib/magnific-popup/magnific-popup.min.js' %}"></script>

          <!-- Contact Form JavaScript File -->
          <script src="{% static 'js/contactform.js' %}"></script>

          <!-- Template Main Javascript File -->
          <script src="{% static 'js/main.js' %}"></script>
        {% endcompress %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
